<app-navbar></app-navbar>
<div class="container">
  <h2>Users</h2>
  <div class="search-bar">
    <input type="text" placeholder="Search by name or email" [(ngModel)]="searchTerm" (input)="searchUsers()">
    <button class="btn btn-primary" (click)="createUser()">Add User</button>
  </div>
  <div class="user-list">
    <div *ngFor="let user of filteredUsers" class="user-box" (click)="viewUser(user.id)">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="Profile Image">
      {{ user.name }}
    </div>
  </div>
</div>