:host {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #343a40;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(10px); /* Add blur effect */
  padding-top: 60px;
}

.modal.show {
  display: block; /* Show the modal */
}

.modal-content {
  background-color: #343a40; /* Match the background color of the page */
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Adjust width to make it a vertical rectangle */
  height: auto; /* Adjust height to fit content */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Allinea gli elementi all'inizio
  align-items: center;
  background-color: #343a40;
  color: white;
  padding-top: 50px; // Aggiungi padding superiore per spostare tutto il contenitore più in basso
}

h1 {
  margin-bottom: 10px; // Aggiungi margine inferiore per separare la scritta "Users" dalla barra di ricerca
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 150px;
  width: 30%;

  input {
    flex: 1;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #343a40;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.75);
    &::placeholder {
      color: rgba(255, 255, 255, 0.75);
    }
    &:focus {
      background-color: #343a40;
      color: white;
      border-color: rgba(255, 255, 255, 1);
      box-shadow: none;
    }
  }

  button {
    flex-shrink: 0;
    border-radius: 20px;
  }
}


.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 40px; // Aggiungi margine superiore per spostare gli utenti più in basso


  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
}

.user-box {
  background-color: #444;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #555;
  }

  .delete-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem; /* Adjust size as needed */
  }

  .delete-btn:hover {
    color: red; /* Change color on hover */
  }

}

