html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8; // Sfondo generale della pagina
}

.navbar-wrapper {
  width: 100%; // La navbar occupa l'intera larghezza
  position: fixed; // La navbar rimane in cima mentre si scorre la pagina
  top: 0;
  z-index: 1000;
}

.navbar {
  padding: 0.8rem 1rem; // Spaziatura personalizzata per la navbar
  background-color: #343a40; // Colore di sfondo della navbar (bg-dark)
}

.navbar-nav.ml-auto {
  margin-left: auto; // Spinge gli elementi della navbar tutto a destra
}

.login-page .content {
  margin-top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  .nav-link {
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  .btn-outline-light {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      border-color: rgba(255, 255, 255, 1);
      color: rgba(255, 255, 255, 1);
    }
  }
}

.form-control {
  border-radius: 20px; // Bordi rotondi
  background-color: #343a40; // Colore di sfondo uguale a quello della navbar
  color: white; // Colore del testo per contrastare lo sfondo scuro
  border: 1px solid rgba(255, 255, 255, 0.75); // Bordo bianco semi-trasparente
  &::placeholder {
    color: rgba(255, 255, 255, 0.75); // Colore del placeholder bianco semi-trasparente
  }
  &:focus {
    background-color: #343a40; // Mantieni lo sfondo scuro quando è in focus
    color: white; // Mantieni il colore del testo bianco
    border-color: rgba(255, 255, 255, 1); // Bordo bianco pieno quando è in focus
    box-shadow: none; // Rimuovi l'ombra del box
  }
}