<app-navbar></app-navbar>
<div class="container" *ngIf="user">
  <aside class="sidebar">
    <div class="profile">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="Profile Picture" class="profile-image">
      <h2>{{ user.name }}</h2>
      <p>Email: {{ user.email }}</p>
      <p>Gender: {{ user.gender }}</p>
      <p>Status: {{ user.status }}</p>
    </div>
  </aside>
  
  <main>
    <section class="user-posts">
      <h2>Posts</h2>
      <div *ngFor="let post of posts" class="post-box">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
        <button class="btn btn-secondary" (click)="toggleComments(post.id)">
          <i class="bi bi-chat-square-text-fill"></i> Comments
        </button>
        <div class="comments" *ngIf="showComments[post.id]">
          <h4>Comments</h4>
          <div *ngFor="let comment of comments[post.id]" class="comment-box">
            <p><strong>{{ comment.name }}</strong>: {{ comment.body }}</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>