:host {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #343a40; // Colore di sfondo uguale a quello della navbar
  color: white; // Colore del testo per contrastare lo sfondo scuro
  height: 100vh; // Assicura che l'elemento occupi l'intera altezza della finestra
  width: 100vw; // Assicura che l'elemento occupi l'intera larghezza della finestra
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 80%;
  margin-top: 20px;
}

.sidebar{
  width: 30%;
  padding: 10px;
}

main {
  flex: 1;
  padding: 10px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.post-box {
  background-color: #444;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.comments {
  margin-top: 10px;
}

.comment-box {
  background-color: #555;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}