.dashboard {
    background-color: #343a40; // Colore di sfondo uguale a quello della navbar (bg-dark)
    color: white; // Colore del testo per contrastare lo sfondo scuro
    min-height: 100vh; // Assicura che la dashboard occupi almeno l'altezza della finestra
    padding: 1rem; // Spaziatura interna
  }